@charset "utf-8";
/* CSS Document */

div#target{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start
}
div.cell{
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 540px;
	width: 471px;
	border-bottom: solid 2px black;
}

button.category{
	border-radius: 25px;
	padding: 10px 20px 10px 20px;
	border: solid #002166 2px;
	color: #002166;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
	transition-duration: 0.5s;
	background-color: white;
	cursor: pointer;
}

button.category:hover{
	color: firebrick;
	border-color: firebrick;
}
.clicked{
	color: firebrick !important;
	border-color: firebrick !important;
}

td.monthly-rent, span.price{
	font-size: 16px;
	font-weight: bold;
	color: red;
}

td.special-offer{
	text-decoration: underline;
	color: dimgray;
}

h1{
	text-decoration: underline;
	text-align: center;
	position: sticky;
	background-color: rgba(230, 230, 230, 0.7);
	padding: 15px;
	top: -1px;
}
tr#category{
	border-bottom: solid black 2px;
	font-size: 13px;
	font-weight: bold;
}
div.bookable-unit-details{
	border-bottom: solid black 2px;
	margin-bottom: 8px;
	padding-bottom: 8px;
}
iframe{
	width: 465px;
	height: 540px;
}
div#topnav{
	text-align: center;
	position: sticky;
	top: -1px;
	width: 100%;
}

span.review-time{
	font-style: italic;
}
span.star-rating{
	font-size: 15px;
	font-weight: bold;
}
div.pref{
	padding-bottom: 5px;
}
div.review-container{
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: solid 1px gray;
}
.fivestar{
	color: gold;
}
.fourstar{
	color: goldenrod;
}
.threestar{
	color: darkgoldenrod;
}
.twostar{
	color: darkorange;
}
.onestar{
	color: red;
}