@charset "utf-8";
/* CSS Document */

div#target{
	
}
div.cell{
	float: left;
	width: 460px;
	max-height: 540px;
	overflow: scroll;
}
.cell:nth-child(4n+1){
	clear: left;
}
button{
	border-radius: 25px;
	padding: 10px 20px 10px 20px;
	border: solid #002166 2px;
	color: #002166;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
	transition-duration: 0.5s;
	background-color: white;
	cursor: pointer;
}

button:hover{
	color: firebrick;
	border-color: firebrick;
}

td.monthly-rent{
	font-size: 16px;
	font-weight: bold;
	color: red;
}

td.special-offer{
	text-decoration: underline;
	color: dimgray;
}

h1{
	text-decoration: underline;
	text-align: center;
}